# Dependencies
**/node_modules/
**/.angular/

# Build outputs
**/dist/
**/tmp/
**/out-tsc/

# Environment files & Secrets
**/.env
**/.env.local
**/.env.*.local

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
